snippet ifmain
def $1():
	"""
	Docs here
	"""

if __name__ == "__main__":
	${1:main}()
endsnippet
snippet def
def function():
	"""
	Docs here
	"""

endsnippet
snippet def
def function():
	"""
	Docs here
	"""

endsnippet
snippet defret
def function() -> obj:
	"""
	Docs here
	"""

	return obj
endsnippet
snippet class
class MyClass():
	def __init__(self):
		pass
endsnippet
snippet arg
arg: obj
endsnippet
